[user]
  name=Naomi Rose
  email=23469+nomirose@users.noreply.github.com

[pull]
  default = current
  rebase = true
[push]
  default = current
  autoSetupRemote = true

[rebase]
  autosquash = true

[core]
  editor = code --wait --reuse-window

[diff]
  tool = vscode
[difftool]
  prompt = false
[difftool "vscode"]
  cmd = code --wait --reuse-window --diff "$LOCAL" "$REMOTE"

[merge]
  tool = vscode
[mergetool]
  prompt = false
[mergetool "vscode"]
  cmd = code --wait --reuse-window "$MERGED"
  trustExitCode = true

[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process

[aliases]
  st = status
  co = checkout
  br = branch
  # Create and checkout a new branch
  nb = checkout -b
  # Show the last commit
  last = log -1 HEAD
  # Undo the last commit (and keep the changes)
  undo = reset --soft HEAD^1
  # Remove any ignored files (e.g., build files)
  clean-ignored = "clean -dX"
  # Print the repository root directory
  root-dir = rev-parse --show-toplevel

[advice]
  skippedCherryPicks = false
